$header-bg: darken(#08a098, 26);
$body-text: darken(#08a098, 26);
$text-main: #FFFFFF;
$text-muted: #AAAAAA;
$white: #FFFFFF;
$primary: #08a098;
$link: #08a098;
$subtle-grey: #eee;
$link-hover: darken(#08a098, 10);
